<div class="container">
<br>
  <div class="row text-center text-lg-left">

     <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47395425_2121901421163311_5141476582350651392_n.jpg?_nc_cat=108&_nc_ht=scontent-ort2-1.xx&oh=4dd4fe35bdfafd10793763eeb4286bba&oe=5C905793" alt="" style="width:100%;max-width:300px">
      </a>
    </div> 

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47574751_2394143177270980_2931347099716943872_n.jpg?_nc_cat=108&_nc_ht=scontent-ort2-1.xx&oh=de562f903ed03ff9b43a164549764f23&oe=5CA5F37D" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47482285_278513249687320_3969072148311441408_n.jpg?_nc_cat=105&_nc_ht=scontent-ort2-1.xx&oh=adb569f7e6ded0bb92883a240576461c&oe=5CAA1623" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47297816_236810710351796_1322246368298795008_n.jpg?_nc_cat=105&_nc_ht=scontent-ort2-1.xx&oh=b0db5085ee33e9dae8512b13b763f664&oe=5CABA931" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47572687_517823778699802_4920511527267598336_n.jpg?_nc_cat=108&_nc_ht=scontent-ort2-1.xx&oh=596ca09886755a581675f9833c5cbd3a&oe=5CA816B7" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47684979_353483238795676_7645498135745134592_n.jpg?_nc_cat=110&_nc_ht=scontent-ort2-1.xx&oh=2cd78fcbff3383403cbee6c4d24d9f36&oe=5CAD1F9F" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47580346_374649973278192_3587227664248733696_n.jpg?_nc_cat=111&_nc_ht=scontent-ort2-1.xx&oh=6a41dc0236dec14c9bf72c2d6ae4de29&oe=5CACB581" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47681519_2227896974091153_3127298110649270272_n.jpg?_nc_cat=106&_nc_ht=scontent-ort2-1.xx&oh=6b573f8c87262464b6057b257e3083dd&oe=5C95CB14" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47464974_203997697145114_7675899477634318336_n.jpg?_nc_cat=109&_nc_ht=scontent-ort2-1.xx&oh=f6cd187b06b70f9210b70410b852efea&oe=5C98E0F2" alt="" style="width:100%;max-width:300px">
      </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/47689116_325346874970267_8734367362842624000_n.jpg?_nc_cat=100&_nc_ht=scontent-ort2-1.xx&oh=e3aa48d8e32879779b88bf251b02e3c4&oe=5C94E3A1" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/48059638_1938001849828678_7662275493479055360_n.jpg?_nc_cat=106&_nc_ht=scontent-ort2-1.xx&oh=6584a32feb2bcd9d538bafb5c4426a36&oe=5CAD092B" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/47575113_2164787657116433_7633690579158695936_n.jpg?_nc_cat=106&_nc_ht=scontent-ort2-1.xx&oh=e8099b48c90da25c1b5f24b987a5e0d7&oe=5CA21F23" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/47680156_346733329240815_3978735429590450176_n.jpg?_nc_cat=104&_nc_ht=scontent-ort2-1.xx&oh=262c787330977f56b79931852b2df7d4&oe=5C933DF9" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/47685240_520197231814412_3738019301676810240_n.jpg?_nc_cat=105&_nc_ht=scontent-ort2-1.xx&oh=53ea599f5d1086b71a3faeb840d9bbcd&oe=5CA2140E" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

  </div>
</div>

<div id="myModal" class="modal">
  <img class="modal-content" id="modalImg">
  <div id="caption"></div>
</div>


 