<div class="container">
<br>
  <div class="row text-center text-lg-left">

     <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/16807437_414782205541795_6268286421279685964_n.jpg?_nc_cat=101&_nc_ht=scontent-ort2-1.xx&oh=80a34ffecec2b09baae261fe4672500c&oe=5C67B485" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/32900945_627333474286666_3893106499106373632_o.jpg?_nc_cat=106&_nc_ht=scontent-ort2-1.xx&oh=64219ccdc0b5189b00ad2616f9849fee&oe=5CA82328" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/47376580_771328926553786_1744140529043505152_o.jpg?_nc_cat=105&_nc_ht=scontent-ort2-1.xx&oh=30d317038b675c2c66479ae57818097a&oe=5CA277F8" alt="" style="width:100%;max-width:300px">
      </a>
    </div>

  </div>
</div>

<div id="myModal" class="modal">
  <img class="modal-content" id="modalImg">
  <div id="caption"></div>
</div>


 