   <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <%= image_tag("logo.jpg", class: "intro-img img-fluid mb-3 mb-lg-0 rounded" ) %>
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Badger Combatives</span>
              <span class="section-heading-lower">Real Self Defense</span>
            </h2>
            <p class="mb-3">Badger Combatives is a modern self defense system. Our striking style is a mix of Muay Thai kickboxing and western boxing. This is a belted system. Each belt is meant to teach various defenses and offenses to  different real self defense situations. Our system trains various striking, weapons,grappling, and Fight forms.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="/classes">Check out our classes!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Contact Us</span>
              </h2>
          <div>
            <p class="address mb-5">
              <em>
                <strong>131 Knox Rd. 500 N.</strong>
                <br>
                Abingdon, Illinois
              </em>
            </p>
            <p class="mb-0">
              <small>
                <em>Call Anytime</em>
              </small>
              <br>
              (309) 335-8929
              <br>
            </p>
            <%= link_to 'Check us out on Facebook', 'https://www.facebook.com/badgercombatives/' %>
          </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Head Coach</span>
                <span class="section-heading-lower">Beau Admire</span>
              </h2>
            </div>
          </div>
          <%= image_tag("beau.jpg", class: "product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" ) %>
          <!-- <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/products-01.jpg" alt=""> -->
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Over 30 years training in various martial arts. Black belts in several different martial arts styles. Former head coach and owner of O.S.E. MMA. 10 years as a pro mma fighter.creator of Badger Combatives modern self defense system.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Owner/Business Manager</span>
                <span class="section-heading-lower">Samantha Admire</span>
              </h2>
            </div>
          </div>
          <%= image_tag("wife.jpg", class: "product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" ) %>
          <!-- <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/products-02.jpg" alt=""> -->
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Graduated from Monmouth College in 2012 with a Bachelor’s degree in Business Administration. Business experience in radio marketing advertising and insurance.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

