<div class="container">

  <!-- <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1> -->

  <br>
  <div class="row text-center text-lg-left">

    
    
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/16807084_414282282258454_4648657791708279731_n.jpg?_nc_cat=107&_nc_ht=scontent-ort2-1.xx&oh=089d1458bc6489b65e1389f6d4d2500a&oe=5C981384" alt="" style="width:100%;max-width:300px">
    </a>
  </div>
 
    <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/26056113_558832794470068_2134334618287778744_n.jpg?_nc_cat=110&_nc_ht=scontent-ort2-1.xx&oh=69ac7e8ffe480a9675e44d7d290e6469&oe=5CACF8DA" alt="" style="width:100%;max-width:300px">
    </a>
  </div> 

  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/46052539_757143397972339_7903859320750604288_n.jpg?_nc_cat=104&_nc_ht=scontent-ort2-1.xx&oh=ffac860534c0fa5948a298f4d24fb841&oe=5C64E9CD" alt="" style="width:100%;max-width:300px">
    </a>
  </div> 

  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img id="myImg" class="item" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/44764602_746522999034379_3344237256662581248_n.jpg?_nc_cat=103&_nc_ht=scontent-ort2-1.xx&oh=1b22e860756b95253a3a808f08fae249&oe=5C97496F" alt="" style="width:100%;max-width:300px">
    </a>
  </div> 


<!--     <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/44063035_741264662893546_2033018616328224768_n.jpg?_nc_cat=106&_nc_ht=scontent-ort2-1.xx&oh=2352ca7ae39c066a38dca73bc76e1373&oe=5C69149E" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/26056113_558832794470068_2134334618287778744_n.jpg?_nc_cat=110&_nc_ht=scontent-ort2-1.xx&oh=69ac7e8ffe480a9675e44d7d290e6469&oe=5CACF8DA" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/36978843_666097050410308_4664197770352001024_n.jpg?_nc_cat=105&_nc_ht=scontent-ort2-1.xx&oh=8ffd4544bdf9999ac78aa9aad92e8cbd&oe=5C9BD047" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/35102514_638628206490526_5692538594577612800_n.jpg?_nc_cat=111&_nc_ht=scontent-ort2-1.xx&oh=1068162ed21e1d1107f44d7c2a0bf3f4&oe=5C985B00" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
 -->  </div>

</div>

<div id="myModal" class="modal">
  <img class="modal-content" id="modalImg">
  <div id="caption"></div>
</div>